@import './ViewAllUsers.css';

.reject-btn,
.accept-btn {
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 25px;
  cursor: pointer; 
  font-weight: 600;
  white-space: nowrap;       
}

.reject-btn {
  background-color: #e53935 !important;
  color: #fff !important;
  margin-left:1rem;
}

.accept-btn{
  background-color: #17c703 !important;
  color: #ffffff !important;
}


.status-badge {
    padding: 0.3rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 500;
}

.status-badge.accepted {
    background-color: #d1f7d6;
    color: #2e7d32;
}

.status-badge.rejected {
    background-color: #ffe0e0;
    color: #d32f2f;
}

.status-badge.rejected {
    background-color: #d4d4d4;
    color: #4d4747;
}